body {
    background-color: skyblue;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*img {
    opacity: 20%;
    width: 30cm;
} */

.container {
    background-color: aquamarine;
    height: 15vh;
}

.card-employee {
    width: 18em;
    text-align: center;
}

